<p-panel header="Adicionar novo amiguinho" [toggleable]="true">
  <div class="ui-g">
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Nome</b></label>
      </div>
      <input type="text" pInputText/>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Espécie</b></label>
      </div>
      <input type="text" pInputText/>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Altura</b></label>
      </div>
      <input type="text" pInputText/>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Peso</b></label>
      </div>
      <input type="text" pInputText/>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Alimento</b></label>
      </div>
      <div style="margin-top: 15px">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Selecione Alimento" optionLabel="name"
                    [showClear]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Contaianer</b></label>
      </div>
      <div style="margin-top: 15px">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Selecione o Container" optionLabel="name"
                    [showClear]="true"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Tipo da classe</b></label>
      </div>
      <div style="margin-top: 15px">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Selecione classe" optionLabel="name"
                    [showClear]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Responsável</b></label>
      </div>
      <div style="margin-top: 15px">

        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Selecione o Responsável"
                    optionLabel="name"
                    [showClear]="true"></p-dropdown>
      </div>
    </div>
  </div>

</p-panel>
