<p-panel header="Adicionar novo amiguinho" [toggleable]="true">
  <div class="ui-g">
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Nome</b></label>
      </div>
      <input type="text" [(ngModel)]="animal.nome" pInputText/>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Espécie</b></label>
      </div>
      <input type="text" [(ngModel)]="animal.especie" pInputText/>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Altura</b></label>
      </div>
      <input type="text" [(ngModel)]="animal.altura" pInputText/>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Peso</b></label>
      </div>
      <input type="text" [(ngModel)]="animal.peso" pInputText/>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px" ><b>Alimento</b></label>
      </div>
      <div style="margin-top: 15px" [ngClass]="{'filled': animal.alimento.id}">
        <p-dropdown [options]="alimentos"  [(ngModel)]="animal.alimento.id" placeholder="Selecione Alimento"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Contaianer</b></label>
      </div>
      <div style="margin-top: 15px" [ngClass]="{'filled': animal.container.id}">
        <p-dropdown [options]="containers" [(ngModel)]="animal.container.id" placeholder="Selecione o Container" [showClear]="true"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Tipo da classe</b></label>
      </div>
      <div style="margin-top: 15px" [ngClass]="{'filled': animal.classe.id}">
        <p-dropdown [options]="classes" [(ngModel)]="animal.classe.id" placeholder="Selecione classe" [showClear]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-3">
      <div>
        <label style="font-size: 15px"><b>Responsável</b></label>
      </div>
      <div style="margin-top: 15px" [ngClass]="{'filled': animal.responsavel.matricula}">
        <p-dropdown [options]="responsaveis" [(ngModel)]="animal.responsavel.matricula" placeholder="Selecione o Responsável" [showClear]="true"></p-dropdown>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3">
      <button pButton type="button" label="Salvar" class="ui-button-success" (click)="salvar()"></button>
    </div>
  </div>

</p-panel>
